<%- include('header') %>
<body>
  <h1>Connexion</h1>
  <form  method="POST" action="/users">
  <table>
      <tr>
      <td>Email :</td>
      <td><input type="email" name="mail" ></td>
      </tr>
      <tr>
      <td>Mot de passe :</td>
      <td><input type="password" name="mdp" ></td>
      </tr>
      <tr>
      <td colspan="2"><input type="submit" value="Connecter" ></td>
      <td colspan="2"><a href="/users/register" class="btn btn-primary" role="button">S'inscrire</a></td>
      </tr>
  </table>
  </form>
</body>
  </html>
