<%- include('head/header') %>


  <% if (locals.isResa == 1) { %>
    <h1 class="h3 mb-3 font-weight-normal">Vos réservations :</h1>
  <% }
  else { %>
    <h1 class="h3 mb-3 font-weight-normal">Evénements disponibles :</h1>
  <% } %>

  <div class="row">
    <% for (event of events) {%>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="/images/<%= event.photo %>" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= event.libelleEvent %></h5>
            <a href="/events/summaryEvent/<%= event.idEvent %>" class="btn btn-primary">Accéder</a>
          </div>
        </div>
      </div>
    <% } %>

    </div>
</body>


</html>
