<!DOCTYPE html>
<html>
  <head>
    <title>Pol'Events</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <a href="/">Acceuil</a>
      <a href="/users">Se connecter</a>
    </div>
    <div class="ui negative message">
      <%= locals.error %>
    </div>
    <div class="ui positive message">
      <%= locals.success %>
    </div>
